{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="page-header">
		<h1>Welcome to League of Yorkshire</h1>
	</div>
	<div class="container">
		<p>Your account is now active {{ username }}</p>
		<p>You now have full access to the site</p>
	</div>
{% endblock %}