{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="page-header">
		<h1>Forgotten Password Form</h1>
	</div>
	<div class="container">
		<form method="post" action="{% url 'member:forgotpassword' %}">
			{% csrf_token %}
			{{ form }}
			{% if error_message %}<p class="errorlist">{{ error_message }}</p>{% endif %}
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
{% endblock %}