{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="page-header">
		<h1>League of Yorkshire Members</h1>
	</div>
	<div class="container">
		<form class="form-inline" method="post" action="{% url 'member:index' %}">
			{% csrf_token %}
			<div class="form-group">
				{{ form }}
				<button type="submit" class="btn btn-default">Search</button>
			</div>
		</form>
		<table class="table">
			<thead>
				<th>User Name</th>
				<th>Joined Date</th>
				<th>Last Logged in</th>
				<th>Admin</th>
			</thead>
			<tbody>
			{% for member in members %}
				<tr>
					<td><a href="{{ member.user_name }}/">{{ member.user_name_mask }}</a></td>
					<td>{{ member.join_date|date:"d F Y" }}</td>
					<td>{{ member.last_login|timesince }} ago</td>
					<td>{% if member.admin %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<nav>
			<ul class="pager">
				{% if members.has_previous %}
				<li class="previous"><a href="?page={{ members.previous_page_number }}"><span aria-hidden="true">&larr;</span> Back</a></li>
				{% endif %}
				<span class="current">
					Page {{ members.number }} of {{ members.paginator.num_pages }}.
				</span>
				{% if members.has_next %}
				<li class="next"><a href="?page={{ members.next_page_number }}"><span aria-hidden="true">&rarr;</span> Next</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endblock %}