{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<form method="post" action="{% url 'member:login' %}">
		{% csrf_token %}
		{{ form }}
		{% if error_message %}<p class="errorlist">{{ error_message }}</p>{% endif %}
		<button type="submit" class="btn btn-default">Login</button>
		<a href="#" class="btn btn-default">Forgot Password</a>
	</form>
{% endblock %}