{% extends "base.html" %}
{% load staticfiles %}
{% load members_extras %}

{% block content %}
	<div class="page-header">
		<h1>{{ member.user_name_mask }}'s Profile</h1>
	</div>
	{% if request.session.member_id != member.id and member.profile_private %}
	<div>
		<h3>This profile is set to private</h3>
	</div>
	{% else %}
	{% if request.session.member_id == member.id %}
	<div>
		<a href="#">Edit Profile</a><br/>
		<a href="private/">Make Profile {% if member.profile_private %}Public{% else %}Private{% endif %}</a>
	</div>
	{% endif %}
	<div class="member-info">
		<div class="info-box">
			<div class="profile-header">
				<h3>Personal Information</h3>
			</div>
			<div class="member-profile-pic">
				<img src="{% static 'images/ppImage.png' %}">
			</div>
			<ul>
				{% if member.admin %}<li>Site Admin</li>{% endif %}
				{% if member.founder_member %}<li>Site Founder</li>{% endif %}
				<li>IRL Name: {{ member.first_name}} {{ member.last_name }}</li>
				<li>Age: {{ member.returnage }}</li>
				<li>Joined: {{ member.join_date|date:"d F Y" }}</li>
				<li>Gender: {{ member.gender|return_gender }}</li>
				<li>Last logged in: {{ member.last_login|timesince }} ago</li>
			</ul>
		</div>
		<div class="info-box additional">
		</div>
	</div>
	{% endif %}
{% endblock %}