{% load staticfiles %}
{% load members_extras %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="{% static 'images/ppImage.png' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'styles/jquery-ui.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'styles/loy-style.css' %}" />
		<script language="javascript" type="text/javascript" src="{% static 'scripts/jquery-1.11.3.min.js' %}"></script>
		<script language="javascript" type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>
		<script language="javascript" type="text/javascript" src="{% static 'scripts/loy-script.js' %}"></script>
		<script language="javascript" type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
		<title>{% block title %}League of Yorkshire{% endblock %}</title>
	</head>
	<body>
		<div class="header">
		<div class="menu-icon"><span></span>
		</div>
		<ul class="nav-list hidden">
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About Us</a></li>
			<li><a href="/info/">Information</a></li>
			{% if request.session.member_id %}
			<li><a href="/member/">Member List</a></li>
			{% endif %}
		</ul>

		<div class="logo">
			<a href="/"><img src="{% static 'images/ppImage.png' %}" alt="Logo Image"></a>
		</div>
		{% if not request.session.member_id %}
		<div class="header-link">
			<span>
				<a class="login-btn">Login</a>
			</span>
		</div>
		<div class="header-link">
			<span>
				<a href="/member/register/">Register</a>
			</span>
		</div>
		{% else %}
		<div class="header-link">
			<span>
				<a href="/member/logout/">Log out</a>
			</span>
		</div>
		<div class="header-link">
			<span>
				<a href="/member/{{ request.session.member_id|return_username:False }}">{{ request.session.member_id|return_username }} </a>
			</span>
		</div>
		{% endif %}

		</div>
		<div class="container-fluid">
			{% block content %}{% endblock %}
		</div>
		<div class="footer">
			<div class="footer-text">
				<p>Work in progress</p>
			</div>
			<div class="footer-text">
				<p>Version 0.5</p>
			</div>
		</div>
		{% if not request.session.member_id %}
		<div class="pop login-form">
			<div class="pop-header">
				<span>✖</span>
			</div>
			<div class="container-fluid">
				<form method="post" action="{% url 'member:login' %}">
					{% csrf_token %}
					{{ login_form }}
					<button type="submit" class="btn btn-default">Login</button>
					<a href="/member/forgot" class="btn btn-default">Forgot Password</a>
				</form>
			</div>
		</div>
		{% endif %}
	</body>
</html>