{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="access-msg">
		<h1>Access Denied</h1>
		<p>You do not have access to this page</p>
		<p>To be able to access this page please log in</p>
	</div>
{% endblock %}