{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="page-header">
		<h1>About League of Yorkshire</h1>
	</div>
	<div class="container-fluid">
		<div class="media">
			<div class="media-left media-middle">
				<img class="media-object" src="{% static 'images/ppImage.png' %}" alt="logo" style="max-width:128px;">
			</div>
			<div class="media-body">
				<h4 class="media-heading">What is League of Yorkshire?</h4>
				<p>Well, that's a story for another day...</p>
			</div>
		</div>
		<h2>Founders</div>
		{% for member in founders %}
			<p>{{ member.user_name_mask}}</p>
		{% endfor %}
	</div>
{% endblock %}