{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="page-header">
		<h1>Information for Yorkshire Folk</h1>
	</div>
	<div class="container-fluid">
		<h2>Social Media</h2>
		<div class="media">
			<div class="media-left media-middle">
				<img class="media-object" src="{% static 'images/twilogo.png' %}" alt="logo" style="max-width:64px;">
			</div>
			<div class="media-body">
				<h4 class="media-heading">Twitter</h4>
				<p>Our twitter page is...</p>
			</div>
		</div>
		<div class="media">
			<div class="media-left media-middle">
				<img class="media-object" src="{% static 'images/youtubelogo.png' %}" alt="logo" style="max-width:64px;">
			</div>
			<div class="media-body">
				<h4 class="media-heading">YouTube</h4>
				<p>On our youtube page you'll find...</p>
			</div>
		</div>
		<div class="media">
			<div class="media-left media-middle">
				<img class="media-object" src="{% static 'images/twitchlogo.png' %}" alt="logo" style="max-width:64px;">
			</div>
			<div class="media-body">
				<h4 class="media-heading">Twitch</h4>
				<p>We have multiple streamers such as...</p>
			</div>
		</div>
	</div>
{% endblock %}