html, body {
	position: relative;
	min-height: 100%;
	height: 100%;
	color: #fff;
	background-color: #1A1A1A;
}

#wrapper {
	padding-left: 0px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* Sidebar Styles */
.sidebar-wrapper {
	z-index:1000;
	position:fixed;
	left:250px;
	width:0px;
	height:100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #151515;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nav-list {
	margin-top: 15px;
	margin-bottom: 15px;
}
.nav-list ul {
	list-style: none;
	font-size: 20px;
}
.nav-list a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
/* End of Sidebar */
.page-content-wrapper {
	padding:20px;
	position: relative;
	width:100%;
}
.btn {
	margin-top: 10px;
	margin-bottom:5px;
	/*Used to overwrite bootstrap style*/
}
.errorlist {
	list-style: none;
	color: red;
	font-weight: bold;
}
.ui-datepicker-month, .ui-datepicker-year {
	color: #000;
}
/* Header Styles */
.header{
	overflow-x:auto;
	height:120px;
}
/* Menu Icon Style */
.menu-icon:hover {
	cursor: pointer;
}
.menu-icon {
	float:left;
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-top: 35px;
	margin-left: 20px;
	-webkit-transition: .5s ease;
	transition:.5s ease;
}
.menu-animation {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* End of Menu Icon */
/*Logo and header-link styles */
.logo, .header-link {
	float:right;
	line-height: 100px;
	text-align: center;
	padding-left:10px;
}
.header-link span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.header-link span:hover {
	cursor:pointer;
}
.header-link a {
	text-decoration:none;
	color: #fff;
	font-weight: bold;
}
.logo img {
	max-height:100px;
}
/* end of Logo and Header-link styles */
/*nav list styles
.nav-list {
	margin-top: 2.4%;
	float:left;
	display: flex;
	max-height: 100px;
	flex-wrap: nowrap;
	justify-content: flex-start;
	list-style: none;
	padding-left; 0;
	-webkit-transition: .4s ease;
	transition: .4s ease;
}
.nav-list a{
	color: #fff;
	padding: 1.25rem 0.5rem;
	font-size: 0.9em;
	max-width: 140px;
	font-weight: bold;
	text-decoration: none;
}
.nav-list a:focus{
	color: #fff;
}
.nav-list a:hover {
	color: #00527b;
}
.nav-animation{
	-webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	transform: translateX(30px);
}
end of nav list*/
/*pop up form styles*/
.pop {
	display:none;
	position:fixed;
	top:35%;
	left:35%;
	min-width:30%;
	min-height:20%;
	background:#fff;
	color:#000;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.pop-header {
	overflow: auto;
	height:20px;
}
.pop span {
	cursor:pointer;
	position:absolute;
	top:4%;
	right:4%;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	background:#ccc;
	color:#fff;
	padding: 6px 0px 0px 9px;
	width:30px;
	height:30px;
	vertical-align:middle;
}
/*end of pop up styles */
/*footer styles*/
.footer-text {
	float:left;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding:10px;
}
.footer-text p{
	font-size:10px;
}
/*end of footer styles*/
/*table styles*/
.table a{
	text-decoration:none;
	color: #fff;
	font-weight:bold;
}
/*end of table styles*/
/*member profile*/
.member-info {
	display: flex;
}
.info-box {
	border: 1px solid #fff;
	width:20%;
	float:left;
}
.profile-header {
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-bottom: 1px solid #fff;
}
.info-box ul {
	list-style:none;
	border-top: 1px solid #fff;
}
.member-profile-pic {
	height:250px;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	margin-top:10px;
}
.member-profile-pic img {
	width:inherit;
	height:inherit;
}
.additional {
	width: 80%;
	overflow:auto;
	border-left:0;
}
/*end of member profile*/
.bg {
	background-image: url('/static/images/fullImagewocolour.png');
	background-size:cover;
	background-position:center;
	width:100%;
	height:700px;
}
